@import "tailwindcss";
.label {
  @apply block text-sm font-semibold text-gray-700 mb-1;
}
.input {
  @apply w-full px-4 py-3 rounded-xl border-2 border-pink-300 focus:ring-4 focus:ring-purple-200;
}
.btn-primary {
  @apply bg-gradient-to-r from-pink-600 to-purple-700 text-white font-bold rounded-xl px-6 py-3 hover:scale-105 transition;
}
